.close-icon {display:block;box-sizing:border-box;width:20px;height:20px;border-width:3px;border-style: solid;border-color:grey;border-radius:100%;
background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
background-color:grey;box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5);}

#google_lightbox {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: none;
}
#google_login_window {
    margin: 5% 25%;
    min-height: 200px;
    height: 25%;
    width: 50%;
    background-color: #FFF;
    z-index: 2;
    border-style: solid;
}
